* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    box-sizing: border-box;
    position: absolute;
    width: 1230px;
    height: 80px;
    left: 28px;
    top: 2px;
    background: rgba(243, 237, 237, 0.59);
    border: 1px solid rgba(0, 0, 0, 0.32);
}

.top-bar img {
    align-items: flex-start;
    height: 10vh;
    margin: 10px;
    margin-left: 5rem;
    padding-left: 5rem;
}

.top-bar ul {
    list-style: none;
    position: absolute;

    top: 16px;
    left: 950px;
    margin: 5px;
    display: flex;
    color: #fbfbfc;

}

.top-bar ion-icon {
    background-color: #7472eb;
    margin: 10px;
    width: 25px;
    height: 25px;
    border-radius: 8px 8px 8px 8px;
}

.top-bar ion-icon:hover {
    color: black;
}


.heading li {
    margin: 15px;
}

.heading a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: inherit;
}

li a:hover {
    color: #1613D3;
}

 .sidebar {
    height: 90%;
    width: 0;
    position: absolute;

    top: 20%;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.47);
    ;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(235, 226, 226);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar h3 {
    color: aliceblue;
    top: auto;
}

.option h4 {
    color: rgb(15, 9, 9);
    margin-top: 20px;
    text-align: center;
    size: 30px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #120505;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    text-align: justify;
    width: 100%;
    font-size: 25px;
    color: white;
    background-color: rgb(51, 57, 118);

}

.option a {
    margin-left: 90px;
    font-size: 20px;
}

.openbtn {
    width: 30px;
    font-size: 20px;

    background-color: #111;
    color: white;

    margin-top: 130px;
    border-radius: 3px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;

}


.container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #f7f3f3;
    position: absolute;
    width: 875px;
    height: 50px;
    left: 351px;
    top: 120px;
    background: #1613D3;
    border-radius: 15px 15px 0px 0px;
}

.container h4 {
    position: absolute;
    top: 15px;
    margin-left: 10px;
}

.projectname h3 {

    margin-top: 3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;

}

.projectname {
    position: absolute;
    width: 875px;
    height: 749px;
    left: 351px;
    top: 168px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 0px 0px 15px 15px;
}

.asset1 h5 {
    font-size: 16px;
    color: #faf8f8;
    margin-top: 17px;
    text-align: center;
}

.asset1 {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 522px;
    top: 276px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px 15px 0px 0px;
}

.asset1 h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.asset1 h6 {
    box-sizing: border-box;


    height: 330px;
    left: px;
    top: 276px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.asset2 h5 {
    font-size: 16px;
    color: #faf8f8;
    margin-top: 17px;
    text-align: center;
}

.asset2 {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 522px;
    top: 276px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px 15px 0px 0px;
}

.asset2 h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.asset2 h6 {
    box-sizing: border-box;


    width: 510px;
    height: 330px;
    left: px;
    top: 276px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.asset3 h5 {

    font-size: 16px;
    color: #faf8f8;
    margin-top: 17px;
    text-align: center;
}

.asset3 {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 522px;
    top: 276px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px 15px 0px 0px;
}

.asset3 h6 {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;

}

.asset3 h6 {
    box-sizing: border-box;


    width: 510px;
    height: 550px;
    left: 583px;
    top: 276px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.asset4 h5 {
    font-size: 16px;
    color: #faf8f8;
    margin-top: 17px;
    text-align: center;
}

.asset4 {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 522px;
    top: 276px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px 15px 0px 0px;
}

.asset4 h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.asset4 h6 {
    box-sizing: border-box;


    width: 510px;
    height: 430px;
    left: px;
    top: 276px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.comment textarea {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    height: 60%;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

.comment input {
    margin: 10px;
    text-align: center;
    background-color: #1613D3;
    border-radius: 5px 5px 5px 5px;
    height: 4vh;
    width: 10vh;
    color: #FFFFFF;
}

.comment img {
    box-sizing: border-box;


    width: 440px;
    height: 500px;
    left: calc(50% - 440px/2 + 119px);
    top: calc(50% - 500px/2 + 138px);
    margin: 20px;
    background: #FFFFFF;
    border: 10px solid #9e9a9a;

}

.comment2 img {
    box-sizing: border-box;

    width: 440px;
    height: 400px;
    left: calc(50% - 440px/2 + 119px);
    top: calc(50% - 500px/2 + 138px);
    margin: 10px;
    background: #FFFFFF;
    border: 10px solid #9e9a9a;
}

.comment ion-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 450px;
    top: 70px;
    color: #FFFFFF;
    background: #4d4b4b;

}

.comment ion-icon:hover {
    background-color: #1613D3;
}

.comment ul {
    position: absolute;
    width: 240px;
    height: 30px;
    left: 120px;
    top: 537px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.694);
}

.comment ul {
    list-style: none;
    display: flex;
}

.comment li {
    margin: 12px;
    margin-top: 10px;

}

.asset5 h5 {
    font-size: 16px;
    color: #faf8f8;
    margin-top: 17px;
    text-align: center;
}

.asset5 {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 522px;
    top: 276px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px 15px 0px 0px;
}

.asset5 h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.asset5 h6 {
    box-sizing: border-box;


    width: 510px;
    height: 330px;
    top: 276px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.comment3 b {
    box-sizing: border-box;

    position: absolute;
    width: 440px;
    height: 92px;
    top: 70px;
    left: 35px;

    background: rgba(216, 240, 241, 0.97);
}

.comment3 ion-icon {
    width: 30px;
    height: 30px;
    margin-left: 400px;
    size: 500px;
    color: #FFFFFF;
    background-color: #4a4444;
}

.comment3 ul {

    list-style: none;
    width: 325px;
    height: 27px;
    margin-left: 50px;
    top: 431px;

    background: rgba(0, 0, 0, 0.62);
    border-radius: 10px;

}

.comment3 li ion-icon {
    display: flex(row);
    position: absolute;
    margin-top: 1px;

    right: 360px;
    width: 25px;
    height: 25px;
    background-color: #2b282806;
    color: #ffffff;
    border-radius: 10px;
}

.comment3 ion-icon:hover {
    color: #000000;
}

.comment3 p {
    position: absolute;
    margin-top: 8px;
    width: 23px;
    height: 12px;
    left: 90px;
    background: #D9D9D9;
    border-radius: 5px;

}

.comment3 h1 {
    box-sizing: border-box;

    position: absolute;
    margin: 63px;
    margin-top: 10px;
    width: 123px;
    height: 7px;


    background: #1712120e;
    border: 1px solid rgba(223, 213, 213, 0.265);
    border-radius: 0px 5px 5px 0px;
}

.symbol ion-icon {
    display: flex (row);
    margin: 12px;
    position: relative;
    width: 20px;
    height: 20px;
    top: 370px;
    left: 783px;
    color: #fdfbfb;
}

.sound {
    box-sizing: border-box;
    position: relative;
    width: 55px;
    height: 7px;
    top: 340px;
    left: 870px;
    background: #f9f8f8c1;
    border: 1px solid rgba(223, 213, 213, 0.265);
    border-radius: 0px 5px 5px 0px;
}

.min {
    position: relative;
    width: 13px;
    height: 12px;
    top: 330px;
    left: 870px;
    background: #faf9f9;
    border-radius: 5px;
}

.para p {
    position: absolute;
    width: 30%;
    top: 470px;
    left: 580px;
}

.asset6 h5 {
    font-size: 16px;
    color: #faf8f8;
    margin-top: 17px;
    text-align: center;
}

.asset6 {
    position: absolute;
    width: 510px;
    height: 59px;
    left: 522px;
    top: 276px;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 15px 15px 0px 0px;
}

.asset6 h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.asset6 h6 {
    box-sizing: border-box;


    width: 510px;
    height: 330px;
    top: 276px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.comment2 video {
    color: #000000;
}

.btn {
    color: #000000;
    background-color: #1613d3bb;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 100px;
    margin-left: 400px;
    margin-top: 10px;
}